%div#banner
  %div#header
    = image_tag "logo.png"
    %p Surf & Paddle Co. Blog
    %ul#nav
      %li
        = link_to 'About', '#'
      %li
        = link_to 'Search', '#'

    %h1 surf & paddle co.
    %h5 An Ironyard Academy Project Est. Summer 2014

%div#content
  %h2 A fantastic engaging headline goes here
  =image_tag("dolphin.png")

  -# %p#author FIXME
  -#   :markdown
  -#     **Annie Dolphin** on Monday June 7 9.22pm

  <p id="author">
  <strong>Annie Dolphin</strong> on Monday June 7 9.22pm
  </p>

  %p.text
    = lorem.paragraph
  <p class="text">
  Sed tenetur quia repellendus asperiores officia odit vero natus non rerum ipsa <em>voluptatem harum quae.</em>
  </p>

  %quote "This is a pull quote from the article."
  %p.text
    = lorem.paragraph
  %p.text
    = lorem.paragraph
  %div
    %ul#social
      %li
        = image_tag "comment-icon.png"
        = link_to "Read Comments", "#"
      %li
        = image_tag "read-icon.png"
        = link_to "Read Later", "#"
      %li
        = image_tag "share-icon.png"
        = link_to "Share This Post", "#"

%div#sidebar
  %div#profile  
    = image_tag "dolphin.png"
    %h3 Annie Dolphin
    %ul#social
      %li
        = link_to "Twitter", "#"
      %li
        = link_to "Facebook", "#"
      %li
        = link_to "Instagram", "#"

  = image_tag "ad_picture.jpg", :id => "ad"

  %h4
    = link_to "About this ad", "#"

  %div
    %h2 Sidebar section heading
    %p
      = lorem.sentences 4

%div#popular
  %h2 Most popular posts

  %div#first_post
    = link_to 'Another cool post', '#'
  %div#second_post
    = link_to 'Post Title', "#"
  %div#third_post
    = link_to "Here's another longer post title", '#'
  %div#fourth_post
    = link_to "Oh cool a post!"

%div#footer
  = image_tag 'TIY_logo.png'
  %p The Iron Yard Copyright 2014, All Rights Reserved
  %ul
    %li
      = link_to 'Nav Item 1', '#'
    %li
      = link_to 'Nav Item 2', "#"
    %li
      =link_to 'Nav Item 3', '#'
    %li
      = link_to 'Nav Item 4', '#'
